
$font-title: 'Nunito Sans', sans-serif;
$font-body: 'Nunito Sans', sans-serif;


$easing: cubic-bezier(0.645, 0.045, 0.355, 1);
$easingSmooth: cubic-bezier(.162,.85,.45,1);


$toggleMenuTransition: 0.3s;
$modalTransition: 0.2s;


$grey-light: #58595B;
$grey-dark: #1F2534;
$green: #59DCA8;
$turquoise: #14A8C0;
$turquoise-reg: #3B6477;
$turquoise-dark: #345A71;
$blue: #12A8C0;
$purple: #ECA8FF;
$yellow: #FFFFA7;
$red: #FF5779;



$white-strong: rgba(255, 255, 255, 0.7);
$white-light: rgba(255, 255, 255, 0.5);
$white-light-mid: rgba(255, 255, 255, 0.3);
$white-light-washed: rgba(255, 255, 255, 0.1);



$master-facebook: #324D8F;
$master-twitter: #0295F3;
$master-linkedin: #1B85BC;
$master-trello: #026AA7;
$master-medium: #00ab6c;
$master-gmail: #bb0000;
$master-gplus: #d34836;
$master-vimeo: #1ab7ea;
$master-slack: #3eb991;
$master-buffer: #323b43;
$master-pinterest: #bd081c;
$master-appstore: #3C94EB;
$master-google-play: #C74665;
$master-google-blue: #4285f4;


$portrait: " all and (orientation: portrait) ";
$landscape: " all and (orientation: landscape) ";

$media-phone-portrait-small: "only screen and (max-width : 340px) ";
$media-phone-portrait: "only screen and (max-width : 450px) ";
$media-phone-landscape-small: "only screen and (max-width : 620px) ";
$media-phone-landscape: "only screen and (max-width : 750px) ";
$media-higher-than-phone-landscape: "only screen and (min-width : 750px) ";

$media-higher-than-mobile: "only screen and (min-width : 1020px) ";

$media-tablet-portrait: "only screen and (max-width : 880px) ";
$media-higher-than-tablet-portrait: "only screen and (min-width : 880px) ";
$media-tablet-landscape: "only screen and (max-width : 1040px) ";
$media-laptop-small: "only screen and (max-width : 1180px) ";
$media-higher-than-laptop-small: "only screen and (min-width : 1180px) ";
$media-laptop: "only screen and (max-width : 1390px) ";
$media-desktop-small: "only screen and (max-width : 1520px) ";
$media-higher-than-desktop-small: "only screen and (min-width : 1520px) ";
$media-desktop: "only screen and (max-width : 2000px) ";
$media-imac: "only screen and (max-width : 2600px) ";


$media-height_high: "only screen and (min-height : 880px) ";
$media-height_mid: "only screen and (max-height : 710px) ";
$media-height_small: "only screen and (max-height : 650px) ";

