//globals
@import "./assets/scss/globals";

//base
@import "./assets/scss/normalize";
@import "./assets/scss/base";

//transitionGroups
@import "./assets/scss/transitionGroups";


//pages
@import "./assets/scss/solutions";
//ui 
@import './assets/scss/ui';